.progressBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  backdrop-filter: blur(10px);
  color: #fff;
  &:disabled {
    display: none;
  }

  input {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: linear-gradient(to right, #fff var(--progress), rgba(250, 250, 250, 0.5) 0);

    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* 브라우저의 기본 스타일을 제거 */
      width: 10px; /* 재생 포인트의 너비를 설정 */
      height: 10px; /* 재생 포인트의 높이를 설정 */
      background: #fff; /* 재생 포인트의 배경색을 설정 */
      border-radius: 50%; /* 재생 포인트를 원형으로 만듬 */
    }
  }
}
